body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(OIP\ \(2\)\ copy.jpg);
}

#ImportantInfo {
    text-align: center;
}

.squishOne {
    text-align: justify;
}

.headerText {
    color: orange;
    font-style: italic;
    font-weight: normal;
}

.imgBox {
    border: 10px, solid, black;
    padding: 30px;
    background-color: yellow;
}
