body {
  background-color: #515975;
  background-image: url(ABOUT.png);
  background-repeat: no-repeat;
  margin: 0;
}

#wrapper {
  margin: 24px auto;
  margin-top: 100px;
  margin-bottom: 0;
  width: 555px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  background-image: url(Frame\ 1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.wrapper2 {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

.GameBox {
  color: #332B74;
  text-align: center;
  background-image: url(GameBoxBack.png);
  background-repeat: no-repeat;
  padding: 25px;
  padding-bottom: 30px;
  border: 7px solid #332B74;
  border-radius: 10%;
  margin-bottom: 10px;
}

.GameBox h2 {
  padding: 0px;
  margin: 0;
}

.GameBox p {
  margin-top: 25px;
}

.GameIcon {
  float: left;
  border-radius: 10%;
  margin-right: 40px;
}

main {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 555px;
}

.moveleft {
  width: 380px;
  margin-left: 100px;
}

h1 {
  grid-column: span 12;
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 10px;
  margin-top: 20px;
  padding-left: 50px;
}


.heroimg {
  border: 5px solid #332B74;
  border-radius: 10%;
  margin-bottom: 5px;
}

.heroimg2 {
  border: 5px solid #332B74;
  border-radius: 10%;
  margin-bottom: 5px;
  width: 270px;
}

nav {
  grid-column: span 12;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 334px;
}

nav li {
  width: 200px;
  background-color: #7EB2D3;
  border-right: 7px solid #332B74;
  border-bottom: 7px solid #332B74;
  transform: skewX(-45deg);
  text-align: center;
}

nav li:hover {
  background-color: #7EB2D3;
}

nav ul li a {
  display: block;
  color: #332B74;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  padding: 1em;
  transform: skew(45deg);
}

nav ul li a:hover {
  color: white;
}

footer {
  margin: 0px;
  width: 1745px;
  background-image: url(Bottom.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 140px;
}

.ComingSoon {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 60px;
}

#myCarousel {
  margin-bottom: 100px;
  margin-left: 50px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
}

#myCarousel.f-carousel {
  --f-button-width: 40px;
  --f-button-height: 40px;

  --f-button-svg-width: 16px;
  --f-button-svg-height: 16px;
  --f-button-svg-stroke-width: 5;

  --f-button-color: #332B74;
  --f-button-border-radius: 50%;
  
  --f-button-bg: #ABEBF7;
  --f-button-hover-bg: #332B74;
  --f-button-active-bg: #332B74;
}
